body
  background: cadetblue
  .pokemons
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    max-width: 90%
    margin: 0 auto
    .Pokemon
      padding: 10px
      max-width: 10%
      box-sizing: border-box
      display: flex
      flex-direction: column
      justify-content: center
    .Pokemon>p
      text-transform: capitalize
      text-align: center
